
@{
    ViewBag.Title = "CartPartial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="@Url.Action("shared","Header")" style="font-weight:bold;text-decoration:none;">
    <div class="cart"><i class="cart-icon ti-shopping-cart"> (@ViewBag.TongSoLuong)</i></div>
</a>

