
@{
    ViewBag.Title = "Orderconfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header style="background-color:#fff;margin-top:70px;">
    <a></a>
</header>
<h2 style="text-align:center">
    Đơn Hàng Của Quý Khách Đã Được Chúng Tôi Ghi Nhận.<br />
    Chúng Tôi Sẽ Liên Hệ Quý Khách Trong Thởi Gian Sớm Nhất Và Giao Đúng Hẹn <br />
    <p style="color:darkred">Xin Cảm Ơn (Thank You !)</p>
    </h2>
<p style="margin-bottom:300px; text-align:center">
    <a style="color:blue; font-weight:bold;" href="@Url.Action("Index", "Home")">
        Back To Home
    </a> 
</p >